#header {
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

#header-logo {
  height: 4rem;
  width: auto;
}

#header-logo {
  border: none;
  box-shadow: none;
}

#header-logo > a:hover {
  box-shadow: none;
}

/* --------------- */

.navbar > a {
  text-decoration: none;
  font-size: 18px;
  margin: 1rem;
  text-align: center;
  padding: 0.5rem;
}
/* ----------------- */

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: white;
    width: 100%;
    border-top: 1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
  }

  .navbar-link {
    font-weight: 600;
  }
}
