* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  /* background-color: rgb(242, 249, 255); */
  background-color: #b5c6cd;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
li {
  color: #10505e;
}

h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

p,
a,
li {
  line-height: 1.25;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-transform: uppercase;
  color: black;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  /* display: inline-block; */
}

.div-odd {
  background-color: rgb(253, 254, 255);
  /* padding: 1rem 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-odd {
  margin: 1rem auto;
}

.line {
  border: none;
  border-top: 2px solid #497278;
  width: 80%;
  margin: 2rem auto;
}

a:hover {
  color: #10505e;
  font-weight: 500;
}

.aboutus-button,
.contactform-button {
  border: 2px solid #10505e;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  max-width: fit-content;
  background-color: #10505e00;
  color: #10505e;
}

.aboutus-button:hover,
.contactform-button:hover {
  background-color: #10505e;
  color: rgba(255, 255, 255, 0.438);
  font-weight: 500;
}

@media screen and (max-width: 1199px) {
  .max-width {
    padding: 2rem;
  }
}
